.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

/* .center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
} */

.header {
  position: relative;
}

.logo {
}

.navWrapper {
  background-color: rgb(41, 212, 49);
  display: flex;
  flex-direction: row;
}

.navLinks {
  background-color: rgb(173, 71, 37);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.contactLink {
  background-color: rgb(50, 30, 167);

  display: flex;
  flex-direction: row;
  align-items: center;
}

.arrowIcon {
  display: flex;
}

.h1 {
}

@media (max-width: 768px) {
  .navWrapper,
  .navLinks,
  .contactLink {
    display: none;
  }
}
