:root {
  /* Light theme */
  --header-background-color: white;
  --header-text-color: black;

  /* Dark theme */
  --dark-header-background-color: rgb(0, 0, 0);
  --dark-header-text-color: rgb(255, 255, 255);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 10rem;
  position: relative;

  background-color: var(--header-background-color);
  color: var(--header-text-color);
}

.logo {
  width: auto;
  height: 3rem;
}

.navWrapper {
  /* background-color: rgb(41, 212, 49); */
  display: flex;
  flex-direction: row;
}

.navLinks {
  /* background-color: rgb(173, 71, 37); */

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.moon_icon_and_contactLink {
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  flex-direction: row;
}

.moon_icon {
  /* background-color: rgb(255, 255, 255); */
  width: auto;
  height: 2rem;
  padding-right: 1rem;
}

.contactLink {
  /* background-color: rgb(50, 30, 167); */
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--header-text-color);
  border-radius: 50px;
  padding: 0.5rem 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.arrowIcon {
  width: auto;
  height: 0.8rem;
  margin-left: 0.5rem;
}

.menu_icon {
  width: auto;
  height: 1rem;
  padding-left: 2rem;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 5rem;
  padding-left: 3rem;
  padding-right: 5rem;
  position: fixed;

  /* -300px */
  right: -16rem;

  top: 0;
  bottom: 0;
  width: 16rem;
  z-index: 50;
  height: 100%;
  background-color: violet;
  transition: all 0.3s ease;
}

.closeIcon {
  width: auto;
  height: 1rem;
  cursor: pointer;
}
.closeIconWrapper {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media (max-width: 768px) {
  .navWrapper,
  .navLinks,
  .contactLink {
    display: none;
  }
  .header {
    padding: 1rem 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .menu_icon,
  .mobileMenu {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .header {
    background-color: var(--dark-header-background-color);
    color: var(--dark-header-text-color);
  }
  .contactLink {
    border-color: var(--dark-header-text-color);
  }
}
